.help-page{
   

    h1{
        background-image: url(	"https://as1.ftcdn.net/v2/jpg/03/86/41/60/1000_F_386416045_DI54oeYP9gLaUsK0PuJVF7qKtnryqsBu.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        max-width: 1400px;
        min-height: 200px;
        font-size: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        
    }

}